asgiref==3.8.1
cachetools==5.5.0
certifi==2025.1.31
charset-normalizer==3.4.1
cloudinary==1.42.2
distlib==0.3.8
dj-database-url==2.3.0
Django==5.1.6
django-cloudinary-storage==0.3.0
django-environ==0.12.0
filelock==3.16.1
gunicorn==23.0.0
idna==3.10
mysql-connector-python==9.2.0
oauthlib==3.2.2
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
setuptools==75.1.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.3.0
whitenoise==6.9.0
