html {
    scroll-padding-top: 90px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eee9;
    font-family: sans-serif;
    color: #333;
}

section {
    margin: 60px;
}

#check-hamburger-menu, .hamburger-menu {
    display: none;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0 0 50px 50px;
    background-color: #4aee;
    box-shadow: 0 0 10px #bbb;
}

nav ul {
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.personal-info ul li {
    display: inline;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    font-size: 1.3em;
    color: #fff;
}

hr {
    border:  1px solid #bbb3;
    width: 70%;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.personal-info ul {
    margin-top: 8px;
    display: flex;
    gap: 15px;
}

.personal-info p {
    margin: 5px 0;
    font-size: 1.1em;
    max-width: 500px;
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.logo {
    width: 45px;
    height: 45px;
}

.technology-logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.technologies-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.technology-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technology-detail p {
    margin-top: 5px;
    font-size: 14px;
}

.github-logo {
    border-radius: 50%;
}

#personal-info {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    margin: 0;
    font-size: 3.5em;
    font-weight: 500;
}

h2 {
    margin: 0;
    font-size: 2.2em;
    font-weight: 400;
    color: #1c98ec;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.cards-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    box-sizing: border-box;
    max-width: 1480px;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.project-card, .work-experience-card {
    box-shadow: 0 0 5px #bbb;
    border-radius: 15px;
    border-left: 5px solid #4ae;
    border-right: 5px solid #4ae;
    background-color: #eee3;
}

.project-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 22px;
}

.project-title-container p, .project-title-container a {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

.project-image {
    width: 100%;
}

.github-logo-card {
    width: 30px;
    height: 30px;
}

.card-detail {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
}

.tags span {
    margin: 0 1px;
    padding: 5px;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    font-size: 0.9em;
}

nav ul li:hover {
    text-shadow: 0 0 25px rgba(238, 238, 238, 0.886);
    transition: text-shadow 0.5s ease;
}

.work-experience-card {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1000px;
}

.work-experience-detail {
    display: flex;
    gap: 15px;
    flex: 1;
}

.work-experience-detail img {
    width: 80px;
    height: 80px;
}

.work-experience-detail p {
    margin: 0;
}

.experience-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.work-experience-tasks {
    display: flex;
    flex: 1;
}

.work-experience-tasks ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1.1em;
    line-height: 1.4;

}

.work-experience-tasks ul li {
    list-style-type: disc;
    padding-left: 0;
}

.position-name {
    font-size: 1.6em;
}

.company-name {
    font-size: 1.3em;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-hyperlink p {
    color: #333;
    font-size: 1.3em;
}

.contact-hyperlink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.desarrollado, .desarrollado a {
    padding: 8px 0;
    margin: 0;
    color: #fff;
    font-size: 16px;
    background-color: #333;
    text-align: center;
    border-top: 1px solid #000;
    text-decoration: none;
}

@media (max-width: 750px) {
    nav ul {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-logo {
        width: 40px;
        height: 40px;
    }

    #check-hamburger-menu:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 54px;
        left: 0;
        background-color: #4aee;
        width: 100%;
        border-radius: 0 0 50px 50px;
        box-shadow: 0 5px 10px #bbb;
    }

    nav:has(#check-hamburger-menu:checked) {
        border-radius: 0;
        box-shadow: none;
    }

    #personal-info {
        gap: 20px;
    }

    .profile-picture {
        width: 170px;
        height: 170px;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    .work-experience-detail img {
        width: 60px;
        height: 60px;
    }

    .position-name {
        font-size: 1.4em;
    }

    .company-name {
        font-size: 1.2em;
    }

    .work-experience-tasks ul li {
        list-style: none;
        font-size: 0.9em;
    }
}


@media (max-width: 670px) {
    .work-experience-detail {
        justify-content: center;
    }

    .work-experience-card {
        flex-direction: column;
        gap: 40px;
    }

    .work-experience-tasks ul {
        gap: 20px;
    }
}


@media (max-width: 550px) {
    .profile-picture {
        display: none;
    }

    #personal-info {
        gap: 0;
    }

    .personal-info {
        align-items: center;
    }

    h1, h2 {
        text-align: center;
    }
}


@media (max-width: 470px) {
    .technologies-list {
        gap: 30px;
    }

    .tags span {
        display: none;
    }

    .project-title-container p, .project-title-container a {
        font-size: 1.2em;
    }

    .card-detail {
        justify-content: center;
    }
}


@media (max-width: 400px) {
    section {
        margin: 60px 30px;
    }

    .work-experience-detail {
        padding-bottom: 25px;
        border-bottom: 1px solid #4aee;
        border-radius: 5px;
        text-align: center;
    }

    .work-experience-detail img {
        display: none;
    }

    .work-experience-card {
        gap: 25px;
    }

    .contact-container ul li {
        font-size: 0.9em;
    }
}


@media (max-width: 350px) {
    .contact-container ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contact-container ul li {
        font-size: 0.8em;
    }

    .contact-container ul li a{
        flex-direction: column;
        gap: 5px;
    }
}
