{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Portfolio web de Lautaro Reche">
    <meta name="keywords" content="portfolio, web developer, web design, programming, font-end development, HTML, CSS, web projects, UI/UX design, web applications, software development, freelance programming, tech solutions, developer portfolio, programming projects, personal portfolio">
    <meta name="author" content="Lautaro Reche">
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <title>Portfolio - Lautaro Reche</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="check-hamburger-menu">
            <label for="check-hamburger-menu" class="hamburger-menu">
                <img src="{% static 'images/menu-logo.png' %}" alt="Menu logo" class="hamburger-logo"></i>
            </label>
            <ul>
                <li><a href="#personal-info" onclick="toggleCheckbox()">Home</a></li>
                <li><a href="#projects" onclick="toggleCheckbox()">Projects</a></li>
                <li><a href="#technologies" onclick="toggleCheckbox()">Technologies</a></li>
                <li><a href="#experience" onclick="toggleCheckbox()">Experience</a></li>
                <li><a href="#contact" onclick="toggleCheckbox()">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="personal-info">
        <div>
            <img src="{% static 'images/profile-picture.png' %}" alt="Profile picture" class="profile-picture">
        </div>
        <div class="personal-info">
            <h1>Lautaro Reche</h1>
            <h2>Software Developer</h2>
            <p>Hi! I have experience in developing scripts and web pages using Python and Django. I also worked as a freelance in the optimization of Artificial Intelligence models related to mathematics and programming.</p>
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer">
                        <img src="{% static 'images/linkedin-logo.png' %}" alt="LinkedIn logo" class="logo">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/lautaroreche" target="_blank" rel="noreferrer">
                        <img src="{% static 'images/github-logo.png' %}" alt="GitHub logo" class="logo github-logo">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <hr>
    <section id="projects"> 
        <h3>Projects</h3>
        <div class="cards-container">
            {% for project in projects %}
                <div class="project-card">
                    <div class="project-title-container">
                        {% if  project.public_url %}
                            <a href="{{ project.public_url }}" alt="{{ project.title }}" target="_blank" rel="noreferrer">{{ project.title }}</a>
                        {% else %}
                            <p>{{ project.title }}</p>
                        {% endif %}
                    </div>
                    {% if  project.public_url %}
                            <a href="{{ project.public_url }}" alt="{{ project.title }}" target="_blank" rel="noreferrer">
                                <img src="{{ project.image.url }}" alt="Picture of project {{ project.title }}" class="project-image">
                            </a>
                        {% else %}
                            <img src="{{ project.image.url }}" alt="Picture of project {{ project.title }}" class="project-image">
                        {% endif %}
                    <div class="card-detail">
                        <a href="{{ project.repo_url }}" target="_blank" rel="noreferrer">
                            <img src="{% static 'images/github-logo.png' %}" class="github-logo-card" alt="GitHub logo">
                        </a>
                        <div class="tags">
                            {% for key, value in project_tags_dict %}
                                {% if key == project.id %}
                                    {% for tag in value %}
                                        <span>{{ tag }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section id="technologies">
        <h3>Technologies</h3>
        <div class="technologies-list">
            {% for technology in technologies %}
                <div class="technologie-detail">
                    <img src="{{ technology.image.url }}" alt="{{ technology.name }}" class="logo technology-logo">
                    <p>{{ technology.name }}</p>
                </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <hr>
    <section id="experience">
        <h3>Experience</h3>
        <div class="cards-container">
            {% for work_experience in work_experiences %}
                <div class="work-experience-card">
                    <div class="work-experience-detail">
                        <img src="{{ work_experience.image.url }}" alt="{{ work_experience.name }} logo">
                        <div class="experience-info">
                            <p class="position-name">{{ work_experience.title }}</p>
                            <p class="company-name">{{ work_experience.company }}</p>
                            <p>{{ work_experience.location }}</p>
                            <p>{{ work_experience.start_date }} - {{ work_experience.end_date }}</p>
                        </div>
                    </div>
                    <div class="work-experience-tasks">
                        <ul>
                            {% for key, value in work_experience_description_dict %}
                                {% if key == work_experience.id %}
                                    {% for description in value %}
                                        {% if description %}
                                            <li>{{ description }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <hr>
    <section id="contact">
        <h3>Contact</h3>
        <div class="contact-container">
            <ul>
                <li>
                    <a href="mailto:lautaroreche1@gmail.com" target="_blank" rel="noreferrer" class="contact-hyperlink">
                        <img src="{% static 'images/gmail-logo.png' %}" alt="Gmail logo" class="logo">
                        <p>lautaroreche1@gmail.com</p>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer" class="contact-hyperlink">
                        <img src="{% static 'images/linkedin-logo.png' %}" alt="LinkedIn logo" class="logo">
                        <p>lautaroreche</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <footer>
        <p class="desarrollado">Developed por <a href="https://www.linkedin.com/in/lautaroreche/" target="_blank" rel="noreferrer">Lautaro Reche</a></p>
    </footer>
</body>
</html>

<script>
    function toggleCheckbox() {
        document.getElementById('check-hamburger-menu').checked = false;
    }
</script>